.delete-btn {
  position: absolute;
  top: -12px;
  right: -26px;
  z-index: 10;
  background-color: #ef5350;
  color: white;
  width: 24px;
  height: 24px;
  padding: 0;
}

.chart-setting-container {
  max-height: calc(100vh - 200px);
}
