<div class="gap-4 grid grid-cols-2">
  <div>
    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        <mat-card-title>Setting</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <table>
          <tr>
            <th class="border-r-1 border-b-1 border-gray-300"></th>
            <th class="border-b-1 border-gray-300 p-4">
              <button
                mat-button
                mat-raised-button
                color="primary"
                (click)="randomize()"
              >
                Add series
              </button>
            </th>
          </tr>
           @if (barChartData.labels?.length) {
            <ng-container  *ngFor="let label of barChartData.labels">
              <tr>
                
              </tr>
            </ng-container>
            }
          <tr>
            <td class="border-r-1 border-gray-300 p-4">
              <button
                mat-button
                mat-raised-button
                color="primary"
                (click)="randomize()"
              >
                Add label
              </button>
            </td>
          </tr>
        </table>
      </mat-card-content>
      <mat-card-actions>
        <button
          mat-button
          mat-raised-button
          color="primary"
          (click)="randomize()"
        >
          Update
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div>
    <canvas
      baseChart
      type="bar"
      [data]="barChartData"
      [options]="barChartOptions"
      (chartHover)="chartHovered($event)"
      (chartClick)="chartClicked($event)"
    >
    </canvas>
  </div>
</div>
