<div class="gap-4 grid grid-cols-2">
  <div>
    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        <mat-card-title>Setting</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form>
          <mat-form-field>
            <mat-label>Favorite food</mat-label>
            <input matInput placeholder="Ex. Pizza" value="Sushi" />
          </mat-form-field>

          <mat-form-field>
            <mat-label>Leave a comment</mat-label>
            <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
          </mat-form-field>
        </form>
      </mat-card-content>
      <mat-card-actions>
        <div class="button-row">
          <button
            mat-button
            mat-raised-button
            color="primary"
            (click)="randomize()"
          >
            Randomize
          </button>
          <button
            mat-button
            mat-raised-button
            color="primary"
            (click)="pushOne()"
          >
            Push
          </button>
          <button
            mat-button
            mat-raised-button
            color="primary"
            (click)="changeColor()"
          >
            Recolor
          </button>
          <button
            mat-button
            mat-raised-button
            color="primary"
            (click)="hideOne()"
          >
            Toggle Series B
          </button>
          <button
            mat-button
            mat-raised-button
            color="primary"
            (click)="changeLabel()"
          >
            Change Label
          </button>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
  <div>
    <canvas
      baseChart
      [data]="lineChartData"
      [options]="lineChartOptions"
      [type]="lineChartType"
      (chartHover)="chartHovered($event)"
      (chartClick)="chartClicked($event)"
    ></canvas>
  </div>
</div>
