<chart-detail
  type="bar"
  [chartInfo]="chartDetails"
  [chartData]="chartData"
  [chartOption]="chartOptions"
  [chartId]="chartId"
>
  <div chartSetting>
    <table>
      <tr>
        <th class="border-gray-300 border-r-1 border-b-1"></th>
        <ng-container
          *ngFor="let dataSet of chartData.datasets; index as seriesIndex"
        >
          <th
            class="p-2 border-gray-300 border-b-1"
            *ngIf="chartData.datasets?.length"
          >
            <mat-form-field appearance="outline">
              <textarea
                [rows]="1"
                matInput
                [value]="dataSet.label"
                (input)="updateSeriesLabel(seriesIndex, $event)"
              ></textarea>
              <input
                type="color"
                class="w-full"
                [value]="dataSet.backgroundColor"
                (input)="updateSeriesColor(seriesIndex, $event)"
              />
              <button
                matIconButton
                class="delete-btn"
                (click)="deleteSeries(seriesIndex)"
              >
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </th>
        </ng-container>
        <th class="p-2 border-gray-300 border-b-1">
          <button matButton="filled" (click)="addSeries()">
            <mat-icon>add</mat-icon>
            series
          </button>
        </th>
      </tr>
      @if (chartData.labels?.length) {
      <ng-container
        *ngFor="
          let label of chartData.labels;
          index as labelIndex;
          trackBy: trackByFn
        "
      >
        <tr>
          <td
            class="p-2 pr-4 border-gray-300 border-r-1"
            [class.pt-4]="labelIndex == 0"
          >
            <mat-form-field appearance="outline">
              <textarea
                [rows]="1"
                matInput
                [value]="label"
                (input)="updateLabel(labelIndex, $event)"
              ></textarea>
              <button
                matIconButton
                class="delete-btn"
                (click)="deleteLabel(labelIndex)"
              >
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </td>
          <ng-container
            *ngFor="let dataSet of chartData.datasets; index as seriesIndex"
          >
            <td class="p-2 text-center" *ngIf="chartData.datasets?.length">
              <mat-form-field appearance="outline">
                <input
                  class="text-center"
                  type="number"
                  matInput
                  [value]="dataSet.data[labelIndex]"
                  (input)="updateSeriesValue(labelIndex, seriesIndex, $event)"
                />
              </mat-form-field>
            </td>
          </ng-container>
        </tr>
      </ng-container>
      }
      <tr>
        <td class="p-2 border-gray-300 border-r-1 text-center">
          <button matButton="filled" (click)="addLabel()">
            <mat-icon>add</mat-icon>
            label
          </button>
        </td>
      </tr>
    </table>
  </div>
</chart-detail>
